body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
}

header {
  background-color: #ff7043;
  color: white;
  padding: 1.25rem;
  text-align: center;
}

.search-bar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 0.5rem;
  width: 15.625rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1em;
}

.search-bar button {
  padding: 0.5rem 0.75rem;
  margin-left: 0.3rem;
  background-color: #ffd8b1;
  color: #ff7043;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

.search-bar button:hover {
  background-color: #ffb380;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.25rem;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 15.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 11.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
}

.card h2 {
  font-size: 1.25rem;
  margin: 0.625rem 0;
}

.card p {
  font-size: 0.875rem;
  color: #555;
  padding: 0 0.625rem 0.9375rem;
}

footer {
  background-color: #ff7043;
  color: white;
  text-align: center;
  padding: 0.625rem;
  margin-top: 1.25rem;
}
